/* External CSS imports */
@import url(/components/top-message.css);
@import url(/components/site-header.css);
@import url(/components/hero.css);
@import url(/components/promotion.css);
@import url(/components/offer.css);
@import url(/components/footer.css);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
