/* Overriding default bootstrap accordion image */
:root {
  --accordion-black: url(/icons/accordion_arrow_black.svg);
}

a {
  text-decoration: none;
  color: black;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--accordion-black);
}

.footer {
  background-color: #f5f5f5;
  width: 100%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1400px;
  background-color: #f5f5f5;
}

.accordion {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.accordion-body {
  padding-left: 0;
  padding-top: 0;
}

.accordion-item {
  background-color: #f5f5f5;
}

.accordion-item a:hover,
.links-desktop a:hover {
  color: #000000;
  text-decoration: underline;
}

.accordion-item h4 {
  font-size: 0.875rem;
  font-weight: bold;
}

.footer li {
  list-style: none;
}

.accordion-item li {
  padding: 0.5rem 0;
}

.accordion-item ul {
  padding: 0;
}

.accordion-button {
  background-color: #f5f5f5;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.accordion-button:not(.collapsed) {
  background-color: #f5f5f5;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
}

.accordion-button {
  color: black;
}

.accordion .accordion-item:first-child {
  box-shadow: 0px -1px #dee2e6;
}

.accordion .accordion-item:last-child {
  box-shadow: 0px 1px #dee2e6;
}

.footer-button {
  text-decoration: none;
  padding: 0.8rem 1rem;
  border: 1px solid black;
  border-radius: 50px;
  width: fit-content;
  color: white;
  background-color: black;
  transition-duration: 0.2s;
  height: fit-content;
  margin-bottom: 1.5rem;
}

.footer-button:hover {
  text-decoration: none;
  background-color: rgb(70, 70, 70);
  transition-duration: 0.2s;
  color: rgb(255, 255, 255);
}

.feature-section {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin-right: 20px;
  width: 20%;
}

.feature-section h3 {
  font-size: 1rem;
  font-weight: bold;
}

.footer-featurelinks {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.footer-featurelinks p {
  font-size: 0.875rem;
}

.footer-button {
  font-size: 0.7rem;
}

.links-social {
  display: flex;
  padding: 20px 0;
  margin-top: 30px;
}

.links-social ul {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-left: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.links-social li {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  transition-duration: 0.2s;
}

.links-social img {
  filter: grayscale(100%);
  width: 18px;
}

.links-social a {
  display: flex;
  align-items: center;
}

.payments {
  display: flex;
  margin-top: 10px;
}

.payments ul {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  padding-left: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.payments li {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
}

.payments img {
  width: 30px;
}

.payment {
  display: flex;
  align-items: center;
}

.language-button {
  margin: 0 auto 10px auto;
  padding: 20px 0;
  display: flex;
}

.language-button img {
  width: 18px;
}

.language-button a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50px;
  width: fit-content;
  color: rgb(0, 0, 0);
  background-color: #f5f5f5;
  transition-duration: 0.2s;
  height: fit-content;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.language-button a:hover {
  text-decoration: none;
  border: 1px solid rgb(176, 176, 176);
  transition-duration: 0.2s;
}

.legallinks {
  margin-top: 0px;
}

.legallinks ul {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: end;
  padding-left: 0;
}

.footer-legals {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  justify-content: space-between;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(20px);
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Transform delay for Social icons*/
.hidden:nth-child(1) {
  transition-delay: 0.6s;
  transition-duration: 0.2s;
}
.hidden:nth-child(2) {
  transition-delay: 0.5s;
  transition-duration: 0.2s;
}
.hidden:nth-child(3) {
  transition-delay: 0.4s;
  transition-duration: 0.2s;
}
.hidden:nth-child(4) {
  transition-delay: 0.3s;
  transition-duration: 0.2s;
}
.hidden:nth-child(5) {
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.copyright {
  min-width: 200px;
}

.accordion {
  display: none;
}

.top-container {
  display: flex;
}

.link-section {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.link-section ul {
  padding: 0;
  margin: 0;
}

.links-desktop {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.links-desktop h4 {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.link-section ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.language-button span {
  font-size: 0.75rem;
}

.footer-links {
  display: flex;
  gap: 10rem;
}

.legallinks a:hover {
  text-decoration: underline;
}

@media (width < 800px) {
  .footer-legals {
    flex-direction: column;
  }

  .accordion {
    display: flex;
  }

  .copyright {
    margin-bottom: 1.2rem;
  }

  .legallinks {
    justify-content: start;
  }

  .legallinks ul {
    justify-content: start;
  }

  .top-container .links-desktop {
    display: none;
  }

  .top-container {
    flex-direction: column;
  }

  .feature-section {
    width: 100%;
  }
}
